@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #251f31;
}
.arr{
  text-align: center;
	font-family: 'Montserrat', sans-serif;
  font-size: 33px;
	color: #e58156;
  width: 100%;
  margin-bottom: 15px;
	word-spacing: 50px;
}
.buttons{
	display: flex;
	justify-content: center;
}
.button{
	cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: #e58156;
  border: 1px solid #44147d;
  background: none;
  font-weight: 500;
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
}
.button:before, .button:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.button:before{
	content: "";
  bottom: 0;
  left: 0;
  border-left: 1px solid #7300fb;
  border-top: 1px solid #7300fb;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.button:after {
	content: "";
  top: 0;
  right: 0;
  border-right: 1px solid #7300fb;
  border-bottom: 1px solid #7300fb;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.button:hover:before,
.button:hover:after{
	content: "";
  height: 100%;
  width: 100%;
  opacity: 1;
}
.button:hover:before{
	content: "";
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.button:hover:after{
	content: "";
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.button:hover{
  background: #3f2c59;
}
