@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

 body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #251f31;
}
.arr{
  text-align: center;
	font-family: 'Montserrat', sans-serif;
  font-size: 33px;
	color: #e58156;
  width: 100%;
  margin-bottom: 15px;
	word-spacing: 50px;
}
.buttons{
	display: flex;
	justify-content: center;
}
.button {
	cursor: pointer;
  color: #e58156;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid #47007b;
  margin: 10px 20px;
	height: 60px;
	background-color: #251f31;
  font-family: 'Montserrat', sans-serif;
	font-size: 15px;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  background-color: #402458;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.button:hover {
	border: 1px solid #7e00f7;
  background: rgba(255, 255, 255, 0);
}
.button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
